# Core libraries
numpy
opencv-python
opencv-python-headless
torch
torchvision
tensorflow
pymongo

# YOLOv9 dependencies
ultralytics

# Transformers
transformers

# Image processing and computer vision
scikit-image
scipy

# Deep learning and machine learning
filterpy
keras

# Utility libraries
tqdm
matplotlib
seaborn
pandas

# Google Cloud Vision (if you're using it for OCR)
google-cloud-vision

# More
absl-py
timm
